#Лабораторна робота 1
###Студента групи МІТ-31 (підгрупа 1)
###Байди Данила Андрійовича
##Завдання
1. NumPy (створити набір даних (розмір за власним рішенням), провести CRUD операції над даними (скаляр, вектор, матриця)).Використати arange, random.
2. Pandas (створити dataframe різними способами, провести маніпуляції з даними (head, describe, iloc, loc ...))
3. Matplotlib (створити набір даних лінійної функції з урахуванням помилок вимірювань, побудувати графік функції та згенерованих даних, обчислити похибку з використанням метрик MAE, MSE). Записати отримані результати у csv файл (формат: X,Y, Y_hat, mAE, mSE)
4. Відповіді оформити .ipynb документом
5. Викласти у зазначений репозіторій GitHub в окремій папці з назвою Lab1 де має бути .ipynb файл та необхідні файли з даними

In [10]:
import pandas as pd

dictionary_lists = {
"NAMES": ["Andrey", "Oksana", "Taras", "Danylo", "Oleksandr"],
"PHONES": ["Samsung","Xiaomi","Lenovo", "iPhone", "Meizu"],
"AGE": [31, 18, 45, 27, 20]}
dframe1 = pd.DataFrame(dictionary_lists)
print(dframe1, end = "\n\n")
print(dframe1.head(), end="\n\n")
print(dframe1.describe(), end="\n\n")
print(dframe1.info(), end="\n\n")
print(dframe1.iloc[0])
dframe1 = pd.DataFrame(dframe1, index=['0', '1', '2', '3'])
print(dframe1.loc['1'], end="\n\n")

NAMES = ["Andrey", "Oksana", "Taras", "Danylo", "Oleksandr"]
PHONES = ["Samsung","Xiaomi","Lenovo", "iPhone", "Meizu"]
AGE = [31, 18, 45, 27, 20]
tuples = list(zip(NAMES, PHONES, AGE))
dframe2 = pd.DataFrame(tuples, columns=["NAMES", "PHONES", "AGE"])
print(dframe2, end="\n\n")
print(dframe2.head(), end="\n\n")
print(dframe2.describe(), end="\n\n")
print(dframe2.info(), end="\n\n")
print(dframe2.iloc[1])
dframe2 = pd.DataFrame(dframe2, index=['0', '1', '2', '3'])
print(dframe2.loc['0'], end="\n\n")

       NAMES   PHONES  AGE
0     Andrey  Samsung   31
1     Oksana   Xiaomi   18
2      Taras   Lenovo   45
3     Danylo   iPhone   27
4  Oleksandr    Meizu   20

       NAMES   PHONES  AGE
0     Andrey  Samsung   31
1     Oksana   Xiaomi   18
2      Taras   Lenovo   45
3     Danylo   iPhone   27
4  Oleksandr    Meizu   20

             AGE
count   5.000000
mean   28.200000
std    10.756393
min    18.000000
25%    20.000000
50%    27.000000
75%    31.000000
max    45.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAMES   5 non-null      object
 1   PHONES  5 non-null      object
 2   AGE     5 non-null      int64
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes
None

NAMES      Andrey
PHONES    Samsung
AGE            31
Name: 0, dtype: object
NAMES     NaN
PHONES    NaN
AGE       NaN
Name: 1, dtype: object

       NAMES   PHONES  AGE
0     Andrey  Samsung   31
1     Oksana   Xiaomi   18
2      Taras   Lenovo   45
3     Danylo   iPhone   27
4  Oleksandr    Meizu   20

       NAMES   PHONES  AGE
0     Andrey  Samsung   31
1     Oksana   Xiaomi   18
2      Taras   Lenovo   45
3     Danylo   iPhone   27
4  Oleksandr    Meizu   20

             AGE
count   5.000000
mean   28.200000
std    10.756393
min    18.000000
25%    20.000000
50%    27.000000
75%    31.000000
max    45.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAMES   5 non-null      object
 1   PHONES  5 non-null      object
 2   AGE     5 non-null      int64
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes
None

NAMES     Oksana
PHONES    Xiaomi
AGE           18
Name: 1, dtype: object
NAMES     NaN
PHONES    NaN
AGE       NaN
Name: 0, dtype: object

In [13]:
dframe3 = pd.read_csv('data.csv', sep='\t')
print(dframe3, end="\n\n")
print(dframe3.head(), end="\n\n")
print(dframe3.describe(), end="\n\n")
print(dframe3.info(), end="\n\n")
print(dframe3.iloc[2])
dframe3 = pd.DataFrame(dframe3, index=['0', '1', '2', '3'])
print(dframe3.loc['2'], end="\n\n")

     Amount  Low_Cost  High_Cost  Profit
0        45       123        152   321.0
1       210       108        160  1376.0
2       160       110        137  1034.4
3       160       109        135   853.0
4        45       118        141   341.0
..      ...       ...        ...     ...
151      60       111        139   397.6
152      60       107        136   380.2
153      80       123        146   643.1
154      60       106        130   263.0
155      60       118        151   486.0

[156 rows x 4 columns]

   Amount  Low_Cost  High_Cost  Profit
0      45       123        152   321.0
1     210       108        160  1376.0
2     160       110        137  1034.4
3     160       109        135   853.0
4      45       118        141   341.0

           Amount    Low_Cost   High_Cost       Profit
count  156.000000  156.000000  156.000000   151.000000
mean    64.519231  106.967949  133.602564   378.694040
std     43.721180   14.311475   16.307797   276.635868
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.550000
50%     60.000000  105.000000  131.000000   317.700000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Amount     156 non-null    int64
 1   Low_Cost   156 non-null    int64
 2   High_Cost  156 non-null    int64
 3   Profit     151 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.0 KB
None

Amount        160.0
Low_Cost      110.0
High_Cost     137.0
Profit       1034.4
Name: 2, dtype: float64
Amount      NaN
Low_Cost    NaN
High_Cost   NaN
Profit      NaN
Name: 2, dtype: float64